# Exercise 1 â€“ Iris Flower Species

## Libs download

In [ ]:
!pip install scikit-learn

In [ ]:
!pip install matplotlib

In [ ]:
!pip install pandas

## Import libs

In [27]:
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
import pandas as pd

## 1. Download the dataset: Iris flower dataset

In [85]:
iris = datasets.load_iris()
dataIris = pd.DataFrame(iris.data)
tagetsIris = pd.DataFrame(iris.target)
irisColumns = pd.DataFrame(iris.feature_names)

## 2. Visualize the shape of the matrix.

In [48]:
display(dataIris.shape)
display(tagetsIris.shape)

(150, 4)

(150, 1)

## 3. Find the maximum, minimum, mean and standard deviation values for each variable.

In [55]:
dataIris.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

## 4. How many samples are there for each flower species?

In [81]:
tagetsIris.value_counts()

0    50
1    50
2    50
Name: count, dtype: int64

In [138]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 5. Find the maximum, minimum, mean and standard deviation values for each variable of each species.

In [145]:
dataSet = pd.DataFrame(iris.data, columns=iris.feature_names)
dataSet['label'] = iris.target
dataSet['species'] = dataSet['label'].replace(to_replace=[0,1,2], value=[iris.target_names[0], iris.target_names[1], iris.target_names[2]])
dataSet

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [169]:
dataSet.loc[dataSet['species'] == 'setosa'].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,50.00000,50.000000,50.000000,50.000000,50.0
mean,5.00600,3.428000,1.462000,0.246000,0.0
std,0.35249,0.379064,0.173664,0.105386,0.0
min,4.30000,2.300000,1.000000,0.100000,0.0
25%,4.80000,3.200000,1.400000,0.200000,0.0
50%,5.00000,3.400000,1.500000,0.200000,0.0
75%,5.20000,3.675000,1.575000,0.300000,0.0
max,5.80000,4.400000,1.900000,0.600000,0.0

In [170]:
dataSet.loc[dataSet['species'] == 'versicolor'].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,50.000000,50.000000,50.000000,50.000000,50.0
mean,5.936000,2.770000,4.260000,1.326000,1.0
std,0.516171,0.313798,0.469911,0.197753,0.0
min,4.900000,2.000000,3.000000,1.000000,1.0
25%,5.600000,2.525000,4.000000,1.200000,1.0
50%,5.900000,2.800000,4.350000,1.300000,1.0
75%,6.300000,3.000000,4.600000,1.500000,1.0
max,7.000000,3.400000,5.100000,1.800000,1.0

In [171]:
dataSet.loc[dataSet['species'] == 'virginica'].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,50.00000,50.000000,50.000000,50.00000,50.0
mean,6.58800,2.974000,5.552000,2.02600,2.0
std,0.63588,0.322497,0.551895,0.27465,0.0
min,4.90000,2.200000,4.500000,1.40000,2.0
25%,6.22500,2.800000,5.100000,1.80000,2.0
50%,6.50000,3.000000,5.550000,2.00000,2.0
75%,6.90000,3.175000,5.875000,2.30000,2.0
max,7.90000,3.800000,6.900000,2.50000,2.0

## Are there missing data? Are the data consistent with the expected dimensions? Are there outliers? Is the database balanced? Visualize the data through boxplots.

In [172]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   label              150 non-null    int32
 5   species            150 non-null    object
dtypes: float64(4), int32(1), object(1)
memory usage: 6.6+ KB

- Are there missing data? No

- Are the data consistent with the expected dimensions? Yes

- Are there outliers?